@import "@styles/variables.scss";

.experienceSection {
	padding: 5rem 0;
	min-height: calc(100vh - 64px);
	background-color: $dark-background-transparent;

	&__content {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	&__progress {
		margin-top: 3rem;
	}

	&__companies {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
}

.companyExperience {
	border-bottom: 1px solid $subtle-accent;
	padding-bottom: 4rem;

	&:last-child {
		border-bottom: none;
		padding: 0;
	}

	&__logo {
		width: 5rem;
		height: 5rem;
	}

	&__achievements {
		line-height: 1.75rem;
	}
}
