/* Primary Colors */
$dark-background: #0b0c10;
$accent-color: #1f2833;

/* Secondary Colors */
$primary-accent: #45a29e;
$highlight: #66fcf1;
$subtle-accent: #c5c6c7;

/* Font Colors */
$primary-text: #ffffff;
$secondary-text: #c5c6c7;
$emphasis-text: #66fcf1;

/* Button Colors */
$primary-button-bg: #45a29e;
$primary-button-text: #0b0c10;
$secondary-button-bg: #1f2833;
$secondary-button-text: #ffffff;
$button-hover-bg: #66fcf1;
$button-hover-text: #0b0c10;
