@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-color: $dark-background;
	color: $primary-text;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: $primary-accent;
	text-decoration: none;

	&:hover {
		color: $highlight;
	}
}

/* Buttons */
.button {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	// font-size: 16px;
}

.button-primary {
	background-color: $primary-button-bg;
	color: $primary-button-text;

	&:hover {
		background-color: $button-hover-bg;
		color: $button-hover-text;
	}
}

.button-secondary {
	background-color: $secondary-button-bg;
	color: $secondary-button-text;

	&:hover {
		background-color: $button-hover-bg;
		color: $button-hover-text;
	}
}

// Tailwind CSS
h1 {
	@apply text-6xl;
	@apply font-bold;
}

h2 {
	@apply text-4xl;
	@apply font-bold;
}

h3 {
	@apply text-2xl;
	@apply font-bold;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
	@apply text-base;
}
