@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-color: $dark-background;
	color: $primary-text;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: $primary-accent;
	text-decoration: none;

	&:hover {
		color: $highlight;
	}
}

label {
	// color: $primary-accent;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 8px;
	line-height: 1.4;
}

input,
textarea {
	padding: 12px;
	background-color: $accent-color;
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	font-size: 14px;

	&:hover {
		background-color: $dark-background-v1;
	}

	&:focus,
	&:focus-visible {
		border: 1px solid $primary-accent;
		box-shadow: 0px 0px 5px $primary-accent;
	}

	&::placeholder {
		color: $placeholder-text;
	}
}

/* Buttons */
.button {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	text-align: center;
}

.button-primary {
	background-color: $primary-button-bg;
	color: $primary-button-text;

	&:hover {
		background-color: $button-hover-bg;
		color: $button-hover-text;
	}
}

.button-secondary {
	background-color: $secondary-button-bg;
	color: $secondary-button-text;

	&:hover {
		background-color: $button-hover-bg;
		color: $button-hover-text;
	}
}

// Tailwind CSS
h1 {
	@apply text-6xl;
	@apply font-bold;
}

h2 {
	@apply text-4xl;
	@apply font-bold;
}

h3 {
	@apply text-2xl;
	@apply font-bold;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
	@apply text-base;
}
