@import "@styles/variables.scss";

.contactSection {
	background-color: $dark-background-transparent;
	padding: 5rem 0;

	&__content {
		display: flex;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex: 1;
	}
}
