@import "@styles/_variables.scss";

.contactSection {
	background-color: $dark-background-transparent;
	padding: 5rem 0;

	&__content {
		display: flex;
		gap: 2rem;
	}

	&__form {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 1rem;
	}

	&__successfulSubmit {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		color: $success-text-color;
	}

	&__successIcon {
		width: 10rem;
		height: 10rem;
	}

	&__social {
		display: flex;
	}

	&__socialLinks {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__socialIcon {
		color: $primary-accent;
		width: 2rem;
		height: 2rem;
	}

	&__socialLink {
		display: flex;
		gap: 1rem;
		align-items: center;
		color: $primary-text;

		&:hover {
			color: $highlight;
		}
	}
}
