@import "@styles/_variables.scss";

.contactSection {
	background-color: $dark-background-transparent;
	padding: 5rem 0;

	&__content {
		display: flex;
		gap: 2rem;
	}

	&__successfulSubmit {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		color: $success-text-color;
	}

	&__successIcon {
		width: 10rem;
		height: 10rem;
	}

	&__socialColumns {
		display: flex;
		gap: 2rem;
	}

	&__socialLinks {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__socialIcon {
		color: $primary-accent;
		width: 2rem;
		height: 2rem;
	}

	&__socialLink {
		display: flex;
		gap: 1rem;
		align-items: center;
		color: $primary-text;

		&:hover {
			color: $highlight;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 1rem;
	}
}

@media screen and (max-width: 900px) {
	.contactSection {
		&__content {
			width: 70%;
			margin: 0 auto;
			flex-direction: column;
			gap: 2rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.contactSection {
		&__content {
			width: 90%;
		}
	}
}

@media screen and (max-width: 540px) {
	.contactSection {
		&__socialColumns {
			flex-direction: column;
		}
	}
}
